<h1>Stores</h1>

<form action="/stores/new" method="post">
  <label>new store name:</label>
  <input type="text" name="name">
  <button type="submit">submit</button>
</form>

<% if @stores.any?() %>
  <ul>
    <% @stores.each() do |store| %>
      <li><a href="/stores/<%= store.id() %>/edit"><%= store.name() %></a><form action="/stores/<%= store.id() %>" method="post"><input type="hidden" name="_method" value="delete"><button type="submit">delete</button></form></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no stores added yet</p>
<% end %>

<a href="/">home</a>
